@import "tailwindcss";

:root {
  --background: #0E0E0E;
  --foreground: #0E0E0E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-britanicaRegular: var(--font-britanicaRegular);
  --font-britanicaExtraBold: var(--font-britanicaExtraBold);
  --font-britanicaBlack: var(--font-britanicaBlack);
}

@utility font-britanicaRegular {
  font-family: var(--font-britanicaRegular);
}

@utility font-britanicaExtraBold {
  font-family: var(--font-britanicaExtraBold);
}

@utility font-britanicaBlack {
  font-family: var(--font-britanicaBlack);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0E0E;
    --foreground: #0E0E0E;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1320px;
  }
}

.module-border-wrap {
  width: 170px;
  padding: 2px;
  border-radius: 32px;
}

.glass-card {
  background: #0000001a;
  border-radius: inherit;
  backdrop-filter: blur(3px) !important;
  -webkit-backdrop-filter: blur(3px) !important;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.10),
    0 20px 50px rgba(0, 0, 0, 0.35);
}